<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Gabay Store"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RmmcGabay"
        tools:targetApi="31">
        <activity
            android:name=".views.Payment"
            android:exported="false" />
        <activity
            android:name=".views.Checkout"
            android:exported="false"
            android:label="Checkout" />
        <activity
            android:name=".views.edit.EditUser"
            android:exported="false"
            android:label="Manage user"
            android:parentActivityName=".views.Manage" />
        <activity
            android:name=".views.edit.EditCategory"
            android:exported="false"
            android:label="Manage category"
            android:parentActivityName=".views.Manage" />
        <activity
            android:name=".views.edit.EditProduct"
            android:exported="false"
            android:label="Manage product"
            android:parentActivityName=".views.Manage" />
        <activity
            android:name=".views.Manage"
            android:exported="false"
            android:label="Manage System" />
        <activity
            android:name=".views.Hero"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".views.Login"
            android:exported="true"
            android:label="Gabay Store">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actions.BarcodeCapture"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
    </application>

</manifest>